html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
@font-face {
    font-family: Mont-SemiBold;
    src: url(/assets/Mont-SemiBold.woff2);
}
body{   
    box-sizing: border-box;
    font-family: 'Mont-SemiBold', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    background: #F6F8F3;
}
.center-property{
    display: flex;
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

/* ---------mini header with mail n signin-------------- */

.sec1{
    background: #E85F5C;
}
.container{
    max-width: 1196px;
    margin: 0 auto; 
    padding: 0 20px;
}
.sec1-font{
    font-size: 12px;
} 
.inline{
    justify-content: space-between;
    height: 51px;
    text-align: center;
}
.inline .a{
    background: #F6F8F3;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid #F6F8F3;
    height: 28px;
    width: 100px;
    text-decoration: none;
    color: #E85F5C;
}
.info{
    margin-right: 185px;
}

.gmail, .phone, .inline{
    text-decoration: none;
    color: #F6F8F3;
}
.gmail:hover, .phone:hover{
    text-decoration: underline;
    font-weight: 800;
}

/* ----------------navbar section css------------- */
.sec2{ 
    margin:36px auto 52px;
}
.flex{
    flex: 1;  
}
.flex li{
    margin-right: 75px;
    font-size: 14px;
}
.flex li:last-child{
    margin-right: 0px;
}
.logo{
    height: 70px;
    width: 183.44px;  
}
svg.menu{
    padding-bottom: 4px;
    padding-left: 8.5px;
}
.flex li:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 800;
}
.dropdown:hover .dropdown-options{
    display: block;
    position: absolute;
    color: white;  
}
.dropdown-options{
    position: absolute;  
    line-height: 30px;
    display: none;
    background: #FFFFFF;
    width: 230PX;
}
.a-dropdown{
    border-top: 1px solid #8E8E8E;
}
.a-dropdown:hover{
    background: gainsboro;
}
.dropdown-options a{
    font-size: 14px;
    color: #000000;
}
.nav-item{
    text-decoration: none;
    color : #000000;
}

/* ---------------footer section-------------- */

.ftr-main{
    border-top: 1px solid #E8735C;
}
.footr{
    padding: 99px 0 57px;
    display: grid;
    grid-template-columns:2.14fr 1fr 1fr 2fr;
}
.column-2 h3 , .column-3 h3, .column-4 h3{
    font-size: 14px !important;
    line-height: 18px;
    color: #7692FF !important;
}
.column-1 img{
    width: 205px;
    height: 28.18px;
    padding-bottom: 41.08px;
}
.column-1 span{
    padding-bottom: 20px;
}
.footr h3{
    padding-bottom: 41.08px;
}
.column-2 a, .column-3 a, .column-4 p{
    margin-bottom: 20px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}
.column-2 a, .column-3 a{
    display: block;
    text-decoration: none;
}
.email-footer , .subscribe{
    border-style: none;
   border-bottom: 1px solid black  ;
    background: #F5F8F3;
}
.subscribe{
    font-weight: 800;
    font-size: 12px;
}
.subscribe:hover{
    border-bottom: none;
    cursor: pointer;
}
.email-footer{
    width: 60%;
}
.email{
    display: flex;
    cursor: pointer;
} 
.media-icon svg{
    margin-right:24px ;
    margin-top: 23px;
}
.column-2 a:hover, .column-3 a:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}
.footer-phone, .footer-gmail{

    padding-bottom: 41.08px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 12px; 
    color: #000000;
}
.anchor-class a{
    line-height: 30px;
}

/* --------------------last sec---------------------- */

.last-sec{
    border-top: 1px solid #8E8E8E;
}
.lastsec-txt1 , .lastsec-txt2{
    font-family: 'Hind';
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    color: #000000;
}
.lastsec-txt1 span{
    font-weight: 600;
}
.inline-last{
    display: flex;
    padding: 23px 0 25px;
    text-align: center;
}

/* --------------media query------------ */

/* --------media query for 980px------ */ 
@media only screen and (max-width: 980px){
    .flex li{
        margin-right: 30px;
    }
}

/* ------------media query 768----------- */

@media only screen and (max-width: 768px){
    .inline .info{
        display: none;
    }
    .dropdown span{
        display: none;
    }
    .footr .column-1 , .footr .column-3{
        grid-column:1/2 ;
    }
    .footr .column-2 , .footr .column-4{
        grid-column: 3/5;
    }
    .navbar .flex .li1{
        display: none;
    }
    .logo{
        margin-left: 10%;
        height:70.99px ;
        width: 200px;
    }
}

@media only screen and (max-width: 520px){
    .logo{
        margin-left: 10%;
        height:40.99px ;
        width: 109px;
    }
    .footr .column-1 ,.footr .column-2 {
        grid-column:1/2 ;
    }
    .footr .column-3{
        grid-column: 2/4;
    }
    .footr .column-4{
        grid-column: 1/4;
    }  
    .column-2 h3, .column-3 h3{
        margin-top: 46px;
    }
    .column-2{
        margin-bottom: 40px;
    }
    .inline-last{
        flex-direction: column;
        padding-bottom: 20px;
    }
    .footr{
        padding-top: 61px;
    }
    .inline-txt1{
        font-weight: 500;
    }
    .column-1 h3,.column-2 a,.column-3 a,.column-4 p{
        font-size: 14px;
    }
    .lastsec-txt1 , .lastsec-txt2{
        margin-bottom: 20px;
    }
}